<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Registrarse</title>
    <link rel="stylesheet" href="style.css" />
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap/dist/css/bootstrap.min.css"
      rel="stylesheet"
    />
  </head>
  <body>
    <div id="header" class="menuheader">
      <iframe
        src="header.html"
        width="100%"
        height="54"
        frameborder="0"
      ></iframe>

      <hr />
      <div class="container">
        <div class="card">
          <h4 class="card-header"><strong>Formulario de registro</strong></h4>
          <div class="card-body">
            <form th:action="@{/signup}" th:object="${usuario}" method="post">
              <div class="row">
                <div class="col-md-3">
                  <div class="form-group">
                    <label for="nombre">Nombre</label>
                    <input
                      type="text"
                      class="form-control"
                      th:field="*{nombre}"
                      id="nombre"
                      name="nombre"
                      placeholder="Escriba su nombre"
                      required="required"
                    />
                  </div>
                </div>
                <div class="col-md-3">
                  <div class="form-group">
                    <label for="email">Correo electrónico</label>
                    <input
                      type="email"
                      class="form-control"
                      th:field="*{email}"
                      id="email"
                      name="email"
                      placeholder="Escriba su correo electrónico"
                      required="required"
                    />
                  </div>
                </div>
                <div class="col-md-3">
                  <div class="form-group">
                    <label for="username">Username</label>
                    <input
                      type="text"
                      class="form-control"
                      th:field="*{username}"
                      id="username"
                      name="username"
                      placeholder="Escriba su nombre de usuario"
                      required="required"
                    />
                  </div>
                </div>
                <div class="col-md-3">
                  <div class="form-group">
                    <label for="password">Password</label>
                    <input
                      type="password"
                      class="form-control"
                      th:field="*{password}"
                      id="password"
                      name="password"
                      placeholder="Escriba su clave de acceso"
                      required="required"
                    />
                  </div>
                </div>
              </div>
              <hr />
              <button
                type="submit"
                title="Quiero registrarme."
                class="btn btn-primary"
              >
                Registrarse
              </button>
            </form>
          </div>
        </div>
      </div>
      <!-- /container -->
    </div>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
  </body>
</html>
